.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.landing-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.footer {
  height: 45px;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.hero-content {
  background: rgba(0,0,0,.70);
  height: 65px;
}

#hero-title {
  color: white;
  text-align: center;
}

.result-item {
  margin: 20px;
}

.result-container {
  margin-top: 100px;
}

.form-container {
  margin-top: 50px;
}

.footer-container {
  height: 100vh;
}

.author-name {
  font-style: italic;
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: underline;
}

.loading-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.btn {
  border-radius: 0px;
}

.reference {
  padding: 2px;
}

.clear-btn {
  margin-left: 15px;
}